---
---

@import "{{ site.theme }}";
* {
  font-family: 'DM Sans';
  color: #006600;
  background-color:#d9d9d9;
}
h1 {
  color: #006600;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  color: #006600;
  font-size: 25px;
  font-weight: bold;
}
h3 {
  color: #006600;
  font-weight: bold;
  font-size: 20px;
}
body {
 font-size: 18px;
 background-color:#d9d9d9;
}
a:link {
  color: #cccc00;
  font-weight: bold;
}
a:visited {
  color: #cccc00;
  font-weight: bold;
}
.wrapper 
{
  background-color:#d9d9d9;
}
.language-python highlighter-rouge
{
  background-color:#d9d9d9;
}
.highlight
{
  background-color:#d9d9d9;
}
img {
  border-radius: 5%;
}