---
---

@import "{{ site.theme }}";
* {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #351c75;
  background-color: #fff2ccff;
}

a:link {
  color: #3fab0e;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #3fab0e;
}