---
---

@import "{{ site.theme }}";
* {
  font-family: 'DM Sans';
  color: #305050;
  background-color: #fbf1e9;
}
a:link {
  color: #aa7c09;
  font-weight: bold;
}
a:visited {
  color: #aa7c09;
  font-weight: bold;
}
h1 {
  color: #1d3030;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  color: #1d3030;
  font-size: 25px;
  font-weight: bold;
}
h3 {
  color: #1d3030;
  font-weight: bold;
  font-size: 20px;
}
body {
 font-size: 18px;
 background-color:#fbf1e9;
}
.wrapper
{
   background-color:#fbf1e9;
}
.language-python highlighter-rouge
{
   background-color:#fbf1e9;
}
.highlight
{
   background-color:#fbf1e9;
}