---
---

@import "{{ site.theme }}";
* {
  font-family: 'DM Sans';
  color: #70380f;
}
a:link {
  color: #305050;
}
a:visited {
  color: #305050;
}
h1 {
  color: #70380f;
}
h2 {
  color: #70380f;
}
h3 {
  color: #70380f;
}