---
---

@import "{{ site.theme }}";

/* Setting fonts and colors */

* {
  font-family: 'DM Sans' !important;
  background-color:#006600;
}
h1 {
  color: #ffffff;
  font-size: 30px !important;
  font-weight: bold;
}
h2 {
  color: #ffffff;
  font-size: 25px !important;
  font-weight: bold;
}
h3 {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px !important;
}
body {
 font-size: 18px !important;
 color: #ffffff;
 background-color:#006600;
}
a:link {
  color: #ffff00;
  font-weight: bold;
}
a:visited {
  color: #ffff00;
  font-weight: bold;
}

/* Setting fonts and colors for Python code */

.wrapper 
{
  background-color:#006600;
}
.language-python highlighter-rouge
{
  background-color:#ffffff;
}
.highlight
{
  background-color:#ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
code, pre {
  background-color:#ffffff; 
}
code span { background-color: transparent }

/* Give images a rounded edge */

img {
  border-radius: 2%;
}

/* Modal modifications */
.w3-container{padding:0!important}