---
---

@import "{{ site.theme }}";
* {
  font-family: 'DM Sans';
  font-size: 20px;
  color: #305050;
}
a:link {
  color: #5a2d0c;
}
a:visited {
  color: #5a2d0c;
}
h1 {
  color: #1d3030;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  color: #1d3030;
  font-size: 25px;
  font-weight: bold;
}
h3 {
  color: #1d3030;
  font-weight: bold;
}