---
---

@import "{{ site.theme }}";
* {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #70380f;
}
a:link {
  color: #e67e00;
}

a:visited {
  color: #e67e00;
}

h1 {
  color: #70380f;
}
h2 {
  color: #70380f;
}
h3 {
  color: #70380f;
}