---
---

@import "{{ site.theme }}";

/* Setting fonts and colors */

* {
  font-family: 'DM Sans' !important;
  background-color:#1c0041;
}
h1 {
  color: #ffffff;
  font-size: 30px !important;
  font-weight: bold;
}
h2 {
  color: #ffffff;
  font-size: 25px !important;
  font-weight: bold;
}
h3 {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px !important;
}
body {
 font-size: 18px !important;
 color: #ffffff;
 background-color:#1c0041;
}
a:link {
  color: #5bfff4;
  font-weight: bold;
}
a:visited {
  color: #5bfff4;
  font-weight: bold;
}

/* Setting fonts and colors for Python code */

.wrapper 
{
  background-color:#006600;
}
.language-python highlighter-rouge
{
  background-color:#ffffff;
}
.highlight
{
  background-color:#ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
code, pre {
  background-color:#ffffff; 
}
code span { background-color: transparent }

/* Give images a rounded edge */

img {
  border-radius: 5px;
}

/* Giving padding to top of page and controlling scrollbar */
.wrapper {
   margin-top: 75px!important;
}
@media screen and (max-width: 600px) {
	.wrapper {
	margin-top: 50px!important;
	}
}

/* Playing around with a custom cursor */
