---
---

@import "{{ site.theme }}";

/* Setting fonts and colors */

* {
  font-family: 'DM Sans';
  background-color:#006600;
}
h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}
h3 {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
body {
 font-size: 18px !important;
 color: #ffffff;
 background-color:#006600;
}
a:link {
  color: #ffff00;
  font-weight: bold;
}
a:visited {
  color: #ffff00;
  font-weight: bold;
}

/* Setting fonts and colors for Python code */

.wrapper 
{
  background-color:#006600;
}
.language-python highlighter-rouge
{
  background-color:#ffffff;
}
.highlight
{
  background-color:#ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
code, pre {
  background-color:#ffffff; 
}
code span { background-color: transparent }

/* Give images a rounded edge */

img {
  border-radius: 2%;
}

/* Trying to control for different colors on mobile */

@media only screen and (min-width : 768px) {
    /* your mobile css, change this as you please */
    #omos {
        background-color: #006600;
    }
}